@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.navbar {
  padding: 15px 0;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: rgba(19, 19, 19, 0.9) !important;
}

.navbar-brand {
  font-size: 1.9rem;
  font-weight: bold;
}

.nav-link {
  font-family: "Montserrat", serif;

  font-size: 1.4rem !important;
  margin-left: 20px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #1c8200 !important;
}

@media (max-width: 768px) {
  .navbar {
    background-color: black !important;
  }
}